<!-- FOOTER / LINKS-->


<div class="ui raised padded container segment">
    <span><a href="mailto:kkmerritt@gmail.com"><i class="envelope outline icon"></i>webmaster</a></span>

</div>



<!-- End Document
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
</div> <!-- end of main container -->

</body>
</html>


<!-- JS to LOAD after DOM
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script type="text/javascript" src='/main.js'>

</script>
