<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>NoPro Sports</title>

<meta name="description" content="sports league management">
<meta name="keywords" content="sports, league, management, tournament">
<meta name="author" content="jaxi-dingo.com">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- styling -->
<link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/main.css">
<link rel="stylesheet" href="/modal.css">
<script src="https://kit.fontawesome.com/4226c8fe0b.js" crossorigin="anonymous"></script>
<link rel="icon" type="image/png" href="img/np_favicon.ico">
</head>

<body>

<div id="navbar">
<a title="Home" href="/"><i class="fas fa-home"></i></a>
<a title="Login Here"><i class="fas fa-user" id="logBtn"></i></a>
<a title="Signup Here" href='/signup'><i class="fas fa-sign-in-alt"></i></a>

<a title="Instagram" href="https://www.instagram.com/noprosports"><i class="fab fa-instagram-square"></i></a>
<a title="Facebook" href="https://www.facebook.com/noprosports"><i class="fab fa-facebook"></i></a>
<a title="Twitter" href="https://twitter.com/noprosports/"><i class="fab fa-twitter-square"></i></a>
<a title="Mailto:"href="mailto:info@noprosports.org"><i class="fas fa-envelope"></i></a>

<a href="/teams">teams<br></a>
<a href="/players">players<br></a>
</div><!-- end of nabvar -->

<!-- start of modal -->
<!-- <div id="myModal" class="modal">
<form action="/login" method="post">
<div class="modal-content">
<span class="close"><i class="fas fa-window-close"></i></span>
<p>Please login:</p>
<label for="email">email</label>
<input type="text" name="username">
<label for="email">password</label>
<input type="text" name="password">
<button type="submit" class="fas fa-arrow-circle-right" id="myBtn"></button>
</div>
</form>
</div> -->
<!-- end of modal -->


<div class="container"><!-- main content container -->

<div id="logo"><img src="/img/nopro_logo.gif" alt=""></div>

<!-- flash error container -->
<div class="container">
<% if(error && error.length>0){ %>
<div class="alert alert-danger" role="alert"><%= error %></div>
<% } %>

<% if(success && success.length>0){ %>
<div class="alert alert-success" role="alert"><%= success %></div>
<% } %>
</div>
<!-- end flash error container -->
