<%- include("../partials/header") %>

<form class="ui form" action="/teams" method="post" >
<div class="ui top attached label">Example</div>

  <div class="inline field">
    <label>Team Name</label>
    <input type="text" name="name" placeholder="Team Name">
  </div>
  <div class="inline field">
    <label>Team Captain</label>
    <input type="text" name="captain" placeholder="Team Captain Name">
  </div>
  <div class="inline field">
    <label>Captain Phone Number</label>
    <input type="number" name="phone" placeholder="Team Captain Phone Number">
  </div>

  <button class="ui button" type="submit">Submit</button>

</form>


<%- include("../partials/footer") %>
