<%- include("../partials/header") %>


<form class= "" action="/teams" method="post" >
<div class="">Example</div>

  <div class="">
    <label>Team Name</label>
    <input type="text" name="name" placeholder="Team Name">
  </div>

  <label for="Captains">Captain?</label>

  <select name="captain">
    <% captain.forEach(function(eachCaptain){%>
    <option value="<%=eachCaptain.firstname%>"><%=eachCaptain.firstname%></option>
      <%})%>
</select>

<div class="">
  <label>Team Image</label>
  <input type="text" name="image" placeholder="IMAGE URL">
</div>

  <button class="" type="submit">Submit</button>

</form>


<%- include("../partials/footer") %>
