<%- include("./partials/header") %>

<div class="row">
	<div class="col-md-12">
		<form action="/init" method="POST">
			<legend>Email Validation</legend>
			<div class="form-group">
				<label for="email">Email</label>
				<input type="text" name="username" autofocus class="form-control">
			</div>
			<div class="form-group">
				<input type="submit" class="btn btn-primary" value="Send Validation Email">
			</div>
		</form>
	</div>
</div>

<%- include("./partials/footer") %>
