<%- include("./partials/header") %>
<br>
<br>
<form class="" action="/register" method="post" >
  <div class="inline field">
    <label>Player Email</label>
    <input type="text" name="username" placeholder="Email">
  </div>
  <div class="">
    <label>Player Password</label>
    <input type="text" name="password" placeholder="password">
  </div>
  <div class="">
    <label>Player First Name</label>
    <input type="text" name="firstname" placeholder="First Name">
  </div>

  <div class="">
    <label>Player Last Name</label>
    <input type="text" name="lastname" placeholder="Last Name">
  </div>
  <div class="">
      <label>Gender</label>
      <select class="" name='gender'>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
      </select>
    </div>

  <div class="">
    <label>Player Image</label>
    <input type="text" name="image" placeholder="img url">
  </div>
  <div class="">
    <label>Is this an Captain Profile?</label>
    <input type="text" name="captaincode" placeholder="False">
  </div>
  <div class="">
    <label>Is this an Admin Profile?</label>
    <input type="text" name="admincode" placeholder="False">
  </div>

  <div class="">
      <label>Teams</label>
      <select class="" name='team'>
        <option name="Free Agent">Free Agent</option>
        <% teams.forEach(function(team){ %>
          <option name="<%=team.name%>"><%= team.name %></option>
        <% }) %>
      </select>
    </div>

  <button class="" type="submit">Submit</button>

</form>



<%- include("./partials/footer") %>
