html, body {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  background: aliceblue;
}
a:link {
  text-decoration: none;
}

hr {
  opacity: .15;
}

li {
  list-style: none;
  margin: 3em 5em;
  text-align: justify;
}
.container {
  margin: 2em 10em;
  text-align: center;
}

#navbar {
  margin-top: -31px;
  position:fixed;
  font-weight: bold;
  text-align: justify;
  background: aliceblue;
  border: solid lightgray 1px;
  width: 100%;

  overflow: hidden;
}
#logo {
  display: block;
  padding: 1em;
  /* border-bottom: 2px solid lightgray; */

}

#logo img {
  max-width: 10%;
}

#sidebar {
  margin-top: 30px;
  padding-top: 3em;
  font-weight: bold;
  text-align: justify;
  position: fixed;
  /* border-right:1px solid lightgray; */
 max-width:7em;
  height: 100%;
  overflow: hidden;

}
#sidebar i {
  color: red;

}
#sidebar i:hover {
  color:blue;
}
#sidebar a:hover {
  color: blue;
  cursor: pointer;
}

#sidebar a, p {
  width: 100%;
  color: gray;
  display: block;
  padding: 5px;
  cursor: pointer;
}


.news {
  margin: auto 10px;
  margin-bottom: 4em;
  text-align: center;
}
.news img {
  width: 80%;
}

.matchup {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  /* border: 1px solid green; */
  align-items: center;
  justify-content: center;
  margin-bottom: 3em;
}
.box {
  flex-grow: 1;
  width: 33%;
  margin-top: 2em;
  margin-bottom: 2em;

}

.box img {
  width: 40%;
}

#calendar {
  width: 100%;
  height: 400px;
  overflow: hidden;

}

.footer {
  text-align: center;
  background: lightgray;
  width: 100%;
  height: 2em;
}
