.container {
  text-align: center;
  padding-top: 2em;
}

.title {

  letter-spacing: 2em;
font-size: 2em;
line-height: 2em;
}

.navlinks {
  letter-spacing: 2em;

}

#login {
  margin: 50px auto;
  width: 40%;
}

ul {
  list-style: none;
}
